html
    head
        title= title
    body
        h1= message
        div
            form(action='/search', method='GET')
                input(type='text', name='searchquery')
                input(type='submit', value='Submit')
